.filter_container{
    position: relative;
    margin-top: 30px;
}
.container_input{
    width: 90%;
    margin-bottom: var(--size-small);
    height: var(--size-medium);
    padding: 0 var(--size-large);
    border-radius: var(--size-small);
}
.container_input:placeholder{   
    font-size: 14px;
    line-height: 16px;
    color: var(--bgColor-inputPlacegolder);
}